<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<main>
  <div class="jumbotron">
      <h1>Simple EJS Application</h1>
      <p>Welcome to templating using EJS</p>
      <p>Please select Upload Data to get started, or About to learn more</p>
  </div>
</main>

<footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>